transformers
python-dotenv
requests
torch
Image
timm
django>=4.2.28 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability